<table class="table table-striped">
<!-- this is a partial of a list of users for the user index page -->
  <thead>
    <tr>
      <th>Item Name</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <% @items_in_cart.each do |oi| %>
      <tr>
        <td><%= link_to oi.item.name %></td>
        <td><%= link_to oi.quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br />