<div class="row">
  <div class="small-8 columns">
  <br/>
    <% if session[:cart].empty?%>
    	<h5>Your cart is empty</h5>
    <%else%>
    	<h3>Cart</h3>
      	<%= render :partial => "cart_list" %>
        <div>
          <h6><b>Total: <%=number_to_currency(@total_cost)%></b></h6>
          <%= link_to 'Checkout cart', new_order_path, :class => 'button radius' %>
         
          <%= link_to 'Clear Cart', clearcart_path, :class => 'button radius' %>
        </div>
    <%end%>

  </div>
  <!-- <div class="small-1 columns">&nbsp;</div> -->
  <div class="small-4 columns">
    &nbsp;
  </div>

 
</div>