<div class="row">
  <div class="small-8 columns">
  <br/>
    <% if session[:cart].empty?%>
    	<h5>Your cart is empty</h5>
    <%else%>
    	<h3>Items in cart</h3>
      	<%= render :partial => "cart_list" %>
    <%end%>

  </div>
  <!-- <div class="small-1 columns">&nbsp;</div> -->
  <div class="small-4 columns">
    &nbsp;
  </div>
</div>