
<div class="row">
  <div class="small-8 columns">
    <div id= 'rp'> 
      <%= render partial: "recent_purchases" %>
   	</div>
    
  </div>
  <div class="small-4 columns">
  </div>
  <br/>
    
</div>
