<h2>Welcome to the Chess Warehouse</h2>
<br />
	<h4>Here are some of the great chess equipment we have today...
		</h4>
	<div class="row">
		<div class="small-4 columns">
				<p>Boards</p>
				</br>
	  			<%= link_to image_tag('board.jpg'), items_path %>
		</div>
		<div class="small-4 columns">
			&nbsp;
			<p>Pieces</p>
			<%= link_to image_tag('piece.jpg'), items_path %>
		</div>
		<div class="small-4 columns">
			&nbsp;
			<p>Clocks</p>
			<%= link_to image_tag('clock.jpg'), items_path %>
		</div>
	</div>


