<div class="row">
  <div class="small-8 columns">
    <% if @orders.empty? %>
      <h3>No orders at this time</h3>
    <% else %>
      <h3>List of Orders</h3>
      <%= render :partial => "orders_list" %>
    <% end %>
  </div>
  <!-- <div class="small-1 columns">&nbsp;</div> -->
  <div class="small-4 columns">
    &nbsp;
  </div>
</div>




